<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
 -->
    <connectionStrings xdt:Transform="Replace">
      <add name="DefaultConnection"
        connectionString="data source=honestapps.cthu2t0gchi2.eu-west-1.rds.amazonaws.com,1433;initial catalog=honestapps;persist security info=True;user id=cavalry;password=F!50fxZ91R4!kj;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

  <appSettings xdt:Transform="Replace">
    
    <!--Amazon S3-->
    <add key="AWS.S3.UseSignatureVersion4" value="true" />
    <add key="amazon.s3.url" value="https://lrm-security.s3.amazonaws.com/" />
    <add key="amazon.bucket_id" value="lrm-security" />
    <add key="amazon.s3_access_key_id" value="AKIAIOCP2XJVIZV65UVQ" />
    <add key="amazon.s3_secret_access_key" value="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" />

  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
